<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Thông Tin Sản Phẩm</title>
</head>
<body>
    <div class="container">
        <div class="mt-5 p-2"> <p class="text-center" style="    font-size: 30px;
          font-weight: 700;    color: #385898;">Thông Tin Sản Phẩm</p></div>
        <div class="row">
            <% products.forEach(item=>{ %>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 my-3">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="<%=item[3]%>" alt="Card image cap" style="width: 100%;height: 15rem;">
                      <div class="card-body">
                        <h5 class="card-title"><%=item[0]%></h5>
                        <p class="card-text">Giá : <span style="font-size: 1.275rem;
                          font-weight: 500;
                          color: #ee4d2d;"> <%=formatNumber(item[2])%></span> đ</p>
                        <p>Số Lượng Còn: <span style="color: #757575;"><%=item[1]%></span></p>
                        <p>Chi Tiết Sản Phẩm: <span><%=item[4]%></span></p>
                      </div>
                    </div>
              </div>
            <%})%>
        </div> 
    </div>
</body>

</html>